@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@fontsource/nunito-sans';

.main {
    font-family: "Nunito Sans", sans-serif;
}

 /* For SVG background */

.background-section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.background-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* For Sticky Navbar */
.sticky-navbar {
    position: sticky;
    top: 0;
    z-index: 1000; /* Adjust as needed */
  }
  